.parent2{
    display: flex;
    flex-direction: row;
    border: 2px solid skyblue;
    border-radius: 8%;

}
.child1{
    width: 45%;
    border: 2px solid hotpink;
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
    font-style:italic;
    background-color: #E1F5FE;
}
.child1 img{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 2px 3px 4px red;
    background-color:white;
}
.child2{
    width: 45%;
    border: 2px solid hotpink;
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    text-align: center;
    font-size: 30px;
    font-style:italic;
    background-color: #E1F5FE;
}
.child2 img{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 2px 3px 4px red;
    background-color: white;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .parent{
        display: flex;
        flex-direction: row;
    }
    .child1{
        width: 90%;
        border: 2px solid rgb(185, 11, 11);
        padding: 1%;
        margin: 1%;
        border-radius: 10%;
        font-size: 20px;
        text-align: center;
        background-color:palevioletred;
    }
    .child img{
        width:70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        border-radius: 50%;
        box-shadow: 2px 3px 4px red;
    }
    .child2{
        width: 90%;
        border: 2px solid #ddd;
        padding: 1%;
        margin: 1%;
        border-radius: 10%;
    }
}